<mat-sidenav-container class="app-layout">
  <mat-sidenav
    class="app-layout__sidebar"
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="sidenavOpen()"
    (openedChange)="sidenavOpen.set($event)"
  >
    <app-sidebar (navigated)="onSidebarNavigated()" />
  </mat-sidenav>

  <mat-sidenav-content class="app-layout__body">
    <app-navbar
      [isMobile]="isMobile()"
      (menuToggle)="toggleSidenav()"
    />

    <main class="app-layout__content" [class.app-layout__content--mobile]="isMobile()">
      <router-outlet />
    </main>

    <!-- TODO: Replace with Material snackbar/dialog-based alerts UI -->
    <app-fired-alerts-widget />
  </mat-sidenav-content>
</mat-sidenav-container>
