<header class="page-header">
  <div class="page-header__start">
    @if (showBack()) {
      <button
        type="button"
        mat-icon-button
        class="page-header__back"
        aria-label="Go back"
        (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <h1 class="page-header__title">{{ title() }}</h1>
  </div>

  @if (actions().length) {
    <div class="page-header__actions">
      @for (action of actions(); track action.label) {
        @if ((action.variant ?? 'primary') === 'secondary') {
          <button
            type="button"
            mat-stroked-button
            [disabled]="action.disabled === true"
            (click)="action.callback()">
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        } @else {
          <button
            type="button"
            mat-flat-button
            [disabled]="action.disabled === true"
            (click)="action.callback()">
            @if (action.icon) {
              <mat-icon>{{ action.icon }}</mat-icon>
            }
            {{ action.label }}
          </button>
        }
      }
    </div>
  }
</header>
