<app-base-dialog>
  <ng-container dialogTitle>{{ data.title || ('COMMON.ARE_YOU_SURE' | translate) }}</ng-container>

  <p>{{ data.message }}</p>

  <ng-container dialogActions>
    <button mat-button type="button" (click)="onCancel()">
      {{ data.cancelText || ('COMMON.CANCEL' | translate) }}
    </button>
    <button mat-flat-button color="warn" type="button" (click)="onConfirm()">
      {{ data.confirmText || ('COMMON.CONFIRM' | translate) }}
    </button>
  </ng-container>
</app-base-dialog>
